// main:template.scss

.featured-view{
  padding-top: 0;
  .swiper-container.leaditem{
    width: 100%;
    // height: 150px;
    background-color: $light;
    .swiper-slide {

    }
  }
}


/*******************************
CUSTOMIZZAZIONE ARTICOLO - singolo articolo
*******************************/
.article-view{

  article{

    img{
      @extend .img-fluid;
      position: relative;
      &.pull-left{
        @extend .float-left;
        margin: 15px 15px 15px 0;
      }
      &.pull-right{
        @extend .float-right;
        margin: 15px 0 15px 15px;
      }
    }

    figure{
      &.float-left{
        margin: 15px 15px 15px 0;
        img{
          margin: 0;
        }
      }
      &.float-right{
        margin: 15px 0 15px 15px;
        img{
          margin: 0;
        }
      }
    }

    p,
    ul{
      margin-bottom: 32px;
    }

    .articleBody{
      margin-top: 32px;
    }

  }
}


.icons-share{
  > ul{
    margin-top: 2px;
  }
  .fa-circle{
    color: $light;
    @include transition(all, .3s, ease-in-out);
  }
  .fa-inverse{
    color: $dark;
    @include transition(all, .3s, ease-in-out);
  }

  .social-share{
    .facebook{
      .fa-circle, .fab{
        color: #4267b2;
      }
    }
    .twitter{
      .fa-circle, .fab{
        color: #1da1f2;
      }
    }
    .whatsapp{
      .fa-circle, .fab{
        color: #1EBEA5;
      }
    }
  }

}

.support-content{
  .articleBody{
    width: 100%;
  }
}


// contenuti in generale
// jevents e altro
.article-view article,
.jev_eventdetails_body{
  img{
    @extend .img-fluid;
    position: relative;
    &.pull-left{
      @extend .float-left;
      margin: 15px 15px 15px 0;
    }
    &.pull-right{
      @extend .float-right;
      margin: 15px 0 15px 15px;
    }
  }

  figure{
    &.float-left{
      margin: 15px 15px 15px 0;
      img{
        margin: 0;
      }
    }
    &.float-right{
      margin: 15px 0 15px 15px;
      img{
        margin: 0;
      }
    }
  }

  p,
  ul{
    margin-bottom: 32px;
  }

  .articleBody{
    margin-top: 32px;
  }

}
