//main: template.scss

.footer{
  background-color: $gray-800;
  padding-bottom: 0;
  .footer-wrapper{
    padding-bottom: 30px;
  }

  .footer-sitename{
    p{
      color: $white;
      font-size: 25px;
      margin-bottom: 0;
    }
    @include media-breakpoint-down(sm){
      img{
        max-width: 50px;
      }
      p{
        font-size: 20px;
      }
    }
  }

  .footer-title{
    border-bottom: 1px $gray-700 solid;
    padding-bottom: 8px;
    h5{
      font-size: 18px;
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  p,address,a,small,li{
    color: $light;
    font-size: 15px;
    font-weight: 300;
  }

  a, a:hover, a:focus{
    color: $featured;
  }

  ul.list-group{
    a, a:hover, a:focus{
      border: 0;
      border-bottom: 1px $gray-700 solid;
      margin: 0;
      background-color: transparent;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .inline-menu{
    ul{
      li{
        padding: 5px;
        @include link-hover(rgba($white,.3), rgba($white,.3));
        // &.delimiter{
        //   &::after{
        //     content: '\f111';
        //     font-family: 'Font Awesome 5 Pro';
        //     font-weight: 700;
        //     // position: absolute;
        //     // right: 0;
        //     // bottom: 50%;
        //     // margin-bottom: -9px;
        //     // width: 1px;
        //     // height: 18px;
        //     background-color: rgba($white,.3);
        //   }
        // }
        &:last-child{
          padding-right: 0;
        }
        &:first-child{
          padding-left: 0;
        }
      }
    }

    &.syndicate{
      li{
        padding-left: 10px !important;
        @include link-hover($gray-600, $gray-600);
        &::before{
          content: '';
          position: absolute;
          left: 5px;
          bottom: 50%;
          margin-bottom: -9px;
          width: 1px;
          height: 18px;
          background-color: $gray-600;
        }
      }
    }
  }

  .footer-links{
    background-color: $dark;
    padding-top: 24px;
    padding-bottom: 24px;
    // generale
    p{
      margin-bottom: 0;
    }
    p,a,a:hover{
      color: rgba($white,.3);
      font-weight: 300;
    }
    // credits
    .credits{
      text-align: right;
      a{text-decoration: none;}
      @include media-breakpoint-down(md){
        text-align: left;
      }
    }
    // inline menu
    .inline-menu{
      ul > li{
        padding-top: 0;
      }
    }

    @include media-breakpoint-down(sm){
      .row > div{
        margin-bottom: 8px;
      }
    }

  }
}
