// main: template.scss

html,
body{
  height: 100%;
}

.wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
}

/********************************
      PAGNAZIONE e TOOLBAR
********************************/
.pagination{
  @extend .d-print-none;
  font-size: 14px;

  // per phoca
  &.sorting-filter{
    padding: 10px;
    background: $light;
  }

  select{
    height: 31px;
    margin-right: 15px;
  }
}

// componente archivio
.filter-search{
  background: $light;
  padding: 5px;
  margin-bottom: 8px;
  select, #filter-search{
    // @extend .form-control;
    display: inline;
    width: auto;
  }
}


/*********************************
            SIDEBAR
*********************************/
.sidebar{
  @extend .align-self-start;
  border-top: 10px $light solid;
  border-left: 10px $light solid;
  border-bottom: 10px $light solid;
  // margin-top: 8px;
  padding-top: 30px;
  padding-bottom: 14px;
  @include media-breakpoint-down(md){
    border: 0;
    margin-top: 30px;
  }
}

.sidebar-alt{
  @extend .align-self-start;
  border-top: 10px $light solid;
  border-right: 10px $light solid;
  border-bottom: 10px $light solid;
  // margin-top: 8px;
  padding-top: 30px;
  padding-bottom: 14px;
  @include media-breakpoint-down(md){
    border: 0;
    margin-top: 30px;
  }
}

/*********************************
    TUTTE LE LISTE DI SPALLA
*********************************/

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-striped{
  .list-group-item{
    color: $dark;
    margin-bottom: 4px;
    border-color: $light;
    a,a:hover,a:focus{
      color: $dark;
    }
    h5{
      margin-bottom: 0;
    }
    &:nth-child(even){
      background-color: $light;
    }
    &:nth-child(odd){
      background-color: $light;
    }
  }
}

.list-hover{
  .list-group-item{
    &:hover, &.active{
      background-color: $primary !important;
      color: $white !important;
      a,a:hover,a:focus{
        color: $white;
      }
      .btn-collapse{
        color: $white;
      }
    }
  }
}

.list-parent{
  margin-left: 8px;
}

/*********************************
INLINE MENU
**********************************/
// inline menu
.inline-menu{
  ul{
    margin-bottom: 0;
    li{
      position: relative;
      margin: 0 !important;
      padding: 10px 0;
      @include link-hover($dark, $dark);
      &.delimiter{
        &::after{
          content: '';
          position: absolute;
          right: 0;
          bottom: 50%;
          margin-bottom: -9px;
          width: 1px;
          height: 18px;
          background-color: $dark;
        }
      }
      &:not(:last-child){
        padding-right: 8px;
      }
      &:not(:first-child){
        padding-left: 8px;
      }
    }
  }
}


/*********************************
            COVER IMAGE
immagine di testata nelle categorie
o negli articoli
*********************************/
figure{
  &.cover-image{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: -31px;
    margin-bottom: 20px;
    @include media-breakpoint-down(md){
      padding-top: 56.25%; // 16:9
      height: 0;
    }
    img{
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
       @include media-breakpoint-down(md){
         position: absolute !important;
         top: 0;
         left: 0;
       }
    }
  }
}

/*********************************
              UTILITY
*********************************/
// pointer
.pointer{
  cursor: pointer;
}

// iframe
article{
  iframe{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0 !important;
    border-width: 0 !important;
    @include media-breakpoint-down(sm) {
      width: 100% !important;
      height: 300px !important;
      float: none !important;
      margin: 20px 0 !important;
    }
  }
}

// IE fixed for Modernizr
.compat-object-fit{
  background-size:cover;
  background-position:center center;
}
.cover-image-ie-fixed{
  height: 300px;
}

// testo evidenziato
span{
  &.highlight{
    background-color: $mark-bg;
  }
}


/*********************************
              TABELLE
*********************************/
table{
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-responsive-sm;
  margin-bottom: 32px;
  td{
    padding: 8px;
    border-color: $gray-400;
    p{
      margin: 0 !important;
    }
  }
}

/*********************************
          LINE SEPARATOR
*********************************/
.sep-line{
  border-bottom: 2px $light solid;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100px;
    background-color: $primary;
  }
}

.sep-line-top{
  border-top: 2px $light solid;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    top: -2px;
    left: 0;
    height: 2px;
    width: 100px;
    background-color: $primary;
  }
}

/*****************************
          DROPDOWN
*****************************/
.dropdown-menu{
  margin-top: 0;
  border-radius: 0;
  min-width: 15rem;
  padding: .5rem 0;
  .dropdown-header{
    padding: .5rem .5rem;
  }
  .dropdown-item{
    padding: 4px 10px;
    border-bottom: 1px $light solid;
  }
}

/*****************************
      FINESTRE MODALI
*****************************/
.modal-header{
  background-color: $primary;
  h5.modal-title{
    color: $white;
    font-size: 25px;
    font-weight: 700;
  }
  .close{
    color: $white;
    border-left: 1px rgba($white, .5) solid;
    opacity: 1;
    line-height: normal;
  }
}

/*****************************
    MOUDLE TABLE DEFAULT
*****************************/
.moduletable{
  h3{
    font-weight: bold !important;
  }
}
