// main:template.scss

.alert{
  position: relative;
  background-color: $white;
  overflow: hidden;
  @include boh-shadow_default;
  color: $dark;
  .icon{
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 60px;
  }
  h6,p{
    padding-left: 50px;
  }
  h6{
    font-size: 25px;
  }
  p{
    margin: 0;
  }
}

//message
.alert-message, .alert-notice{
  border-color: $primary;
  background-color: rgba($primary, .1);
  .icon{
    color: $primary;
  }
  p{
    span{
      color: $primary;
    }
  }
}

//info
.alert-info{
  border-color: $info;
  background-color: rgba($info, .1);
  .icon{
    color: $info;
  }
  p{
    span{
      color: $info;
    }
  }
}

//warning
.alert-warning{
  border-color: $warning;
  background-color: rgba($warning, .1);
  .icon{
    color: $warning;
  }
  p{
    span{
      color: $warning;
    }
  }
}

//danger
.alert-danger{
  border-color: $danger;
  background-color: rgba($danger, .1);
  .icon{
    color: $danger;
  }
  p{
    span{
      color: $danger;
    }
  }
}

//success
.alert-success{
  border-color: $success;
  background-color: rgba($success, .1);
  .icon{
    color: $success;
  }
  p{
    span{
      color: $success;
    }
  }
}
