// main: template.scss

.search-overlay{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.8);
  z-index: 99999;
  @include transition(all, 0.3s, ease-in-out);
  .container,
  .row,
  .col-12{
    height: 100%;
  }
  .close-icon{
    position: absolute;
    top: 20px;
    right: 40px;
    color: $light;
    font-size: 35px;
  }
  form{
    input.form-control{
      background-color: transparent;
      border-color: transparent;
      border-bottom: 2px $light solid;
      border-radius: 0;
      color: $light;
      font-size: 35px;
      @include transition(all, 0.3s, ease-in-out);
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder{
        color: $light;
      }
    }
    button{
      background-color: transparent;
      border: 0;
      color: $primary;
      font-size: 35px;
    }
  }
  &.active{
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    //transform: rotate(0);
    @include transition(all, 0.3s, ease-in-out);
  }
}


.search-overlay-alt{
  position: fixed;
  top: -52px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $white;
  z-index: 99999;
  @include transition(all, 0.3s, ease-in-out);
  .container-fluid,
  .row,
  .col-11,
  .col-1{
    height: 100%;
  }
  .close-icon{
    // position: absolute;
    // top: 20px;
    // right: 40px;
    color: $dark;
    font-size: 30px;
  }
  form{
    input.form-control{
      background-color: $white;
      border-color: transparent;
      border-bottom: 2px $white solid;
      border-radius: 0;
      color: $dark;
      font-size: 20px;
      @include transition(all, 0.3s, ease-in-out);
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder{
        color: $dark;
      }
    }
    button{
      border: 0;
      border-radius: 0;
      background-color: $primary;
      color: $light;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &.active{
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    //transform: rotate(0);
    @include transition(all, 0.3s, ease-in-out);
  }
}
